@import url('importado.css');/*importe un css externo*/

h1{
    text-align: center;
    color:#00f;
}
p{
    color:rgb(25, 45, 133);
    font-family: Tahoma;
    font-size:18px;
}

body{
    background-color:cyan;
}